version: '3.8'

services:
  database:
    container_name: database
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: pokemon
      MYSQL_USER: pokemon
      MYSQL_PASSWORD: pokemon
    ports:
      - '4306:3306'
    volumes:
      - ./mysql:/var/lib/mysql
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/var/www/pokemon-manager-frontend
  backend:
    container_name: backend
    build:
      context: xxx
    ports:
      - '9000:9000'
    volumes:
      - ./backend:/var/www/pokemon-manager-backend
    depends_on:
      - database
  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    ports:
      - '8080:80'
    volumes:
      - ./backend:/var/www/pokemon-manager-backend
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - database
